.footer {
    background-color: #252525;
    color: white;
    padding: 20px;
    margin: 0px 170px;
    text-align: center;
  }
  
  .footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .footer-links,
  .footer-social {
    margin-bottom: 10px;
  }
  
  .footer-links a,
  .footer-social a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    text-decoration: underline;
  }
  
  .footer-copy {
    font-size: 14px;
    margin-top: 10px;
  }
  