.cartItems {
   padding: 100px 170px;
    padding-top: 100px;
  }
  .cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
  }
  
  .cartItems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 18px;
    color: #454545;
  }
  
  
  .cartItem-format {
  font-size: 17px;
  font-weight: 500;
  }
  
  .cartIcon-product-icon {
    height: 62px;
  }
  
  .cartItem-name,
  .cartItem-price,
  .cartItems-quantity,
  .cartItem-total {
    font-size: 16px;
    color: #626262;
  }
  
  .cartItems-quantity {
    width: 64px;
    height: 50px;
    padding: 5px 10px;
    border: 2px solid #ebebeb;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .cartItem-remove-icon {
    width: 15px;
margin: 0px 40px;
    cursor: pointer;
  }
  .cartItems-down{
    display: flex;
    margin: 100px 0px;
  }
  .cartItems-total{
    flex: 1;
    display: flex;
   flex-direction: column;
   margin-right: 200px;
   gap: 40px;
  }
  .cartItems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
  }
  .cartItems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border-radius: 8px;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .cartItems-promoCode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
  }
  .cartItems-promoCode p{
    color: #555;
  }
  .cartItems-promoBox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
  }
  .cartItems-promoBox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
  }
  .cartItems-promoBox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
  }
  